.section{
    width: 100%;
}
.homebox {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border-radius: 20px;

}

.home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 170px;
    cursor: pointer;
    border-radius: 5px;
}

.home:hover {
    background-color: #e4e4e4;
}