.welcome {
    /* height: 800px; */
    background-color: var(--light-blue);
    border-radius: 30px;
    padding: 24px 16px 67px;
}

@media (min-width: 768px) {
    .welcome {
        padding: 32px 32px 50px;
    }
}

@media (min-width: 1440px) {
    .welcome {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 32px 32px px ;
    }
}