.song{
    width: 220px;
    height: 340px;
    overflow: hidden;
}
.section {
    width: 100%;
}

.homebox {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 16px;
    border-radius: 20px;
    /* background-color: transparent; */

}
.ava{
    cursor: pointer;
    /* background-color: var(--light-blue-hover); */
    /* width: 200px;  */
    /* height: 200px; */
    border-radius: 10px;
}
.img{
    /* object-fit:cover; */
    border-radius: 10px;
}
.info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 60px;
    cursor: pointer;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: #f8e3ada6;
}

.info:hover {
    background-color: #e4e4e4;
}
.ava:hover{
    background-color: var(--light-blue);
}
.player{
    margin-top: 1px;
    height: 20px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 10px;   
    border-top-right-radius: 10px;
}
.infoText{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    gap: 22px;
}
.price{
    border-radius: 5px;
    /* width: 46px;
    height: 38px; */
    /* background-color: rgb(229, 244, 138); */
    font-size: large;
    text-align: center;
    padding: 6px ;
    color: #12267f;
}
.title{
    color: #12267f;
    padding: 1px 12px;
    border-radius: 2px;
}
.iconCart{
    width: 24px;
    height: 24px;
}

.addCartLink{
    cursor: pointer;
}