.homebox{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.home{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 170px;
    cursor: pointer;

}

.home:hover {
    background-color: #e4e4e4;
}