.modalOverlay {
    background-color: #ede8d9;
    width: 500px;
    height: 400px;
    display: flex;
    align-items: center;
    /* background-image: url(https://res.cloudinary.com/dkog6tuev/image/upload/v1742582279/dx57valpbgycr2roodqk.webp);
    background-size: cover;
    background-position: center; */
    border-radius: 15px;
    justify-content: center;
}

.modalSongName {
    font-size: 50px;
    font-weight: 600;
}
.modalSongAuthor {
    font-size: 18px;
    font-weight: 500;
}
.modalPrice {
    font-size: 18px;
    font-weight: 600;
    margin-left: 10px;
}

.modalPlayer {
    display: flex;
    height: 40px;
    width: 280px;
    border-radius: 20px;
    background-color: #ede8d9;
}

.btnModalBuy {
    width: 120px;
    height: 40px;
    border-radius: 20px;
    background-color: #f67632;
    font-size: 18px;
    font-weight: 500;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.btnModalBuy:hover {
    background-color: #f19f73;
    transform: scale(1.1);
}

.audioBuy {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 10px;
    margin-top: 150px;
    gap: 50px;
}
