.userBarWrapper {
    background-color: var(--light-gray);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    color: var(--white);
    /* margin-bottom: 32px; */
}

.userBarPanel {
    display: flex;
    /* align-items: baseline; */
    gap: 8px;
    position: relative;
}

.userWelcome {
    font-family: Gilroy;
    font-weight: 400;
    font-size: 32px;
    line-height: 1;
    letter-spacing: -0.01em;
    color: var(--dark-blue);
}

.name {
    font-weight: 700;
}

.userBarBtn {
    position: relative;
    display: flex;
    min-width: 38px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    border-color: transparent;
    gap: 8px;
    opacity: 1px;
    background-color: var(--dark-blue);
    font-size: 14px;
    font-weight: 700;
    line-height: 1.29;
    letter-spacing: -0.01em;
    color: var(--white);
    padding: 6px 12px;
}
.loginIcon{

        width: 22px;
        height: 22px;
        display: inline-block;
}
.loginIcon:hover {
    animation: jumpRight 0.6s ease-in-out infinite;
}
.loginSettings{
    width: 22px;
    height: 22px;
    display: inline-block;
}
.loginSettings:hover{
    animation: spin 2s linear infinite;
}

.logoutIcon{
        width: 22px;
        height: 22px;
        display: inline-block;
}
.logoutIcon:hover{
    animation:jumpRight 0.6s ease-in-out infinite;
}

@keyframes jumpRight {
    0% {
        transform: translateX(0);
    }
/* 
    30% {
        transform: translateX(10px) translateY(-5px);
    } */
    50% {
        transform: translateX(4px);
    }
/* 
    70% {
        transform: translateX(10px) translateY(-4px);
    } */

    100% {
        transform: translateX(0);
    }
}
@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.avatar {
    display: block;
    width: 38px;
    height: 38px;
    border-radius: 50%;
}

.avatarData {
    width: 38px;
    height: 38px;
    border-radius: 50%;
    background-color: #ccc;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 28px;
}

.userBarOpenPanel {
    position: absolute;
    top: 110%;
    left: 0%;
    display: flex;
    gap: 4px;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    padding: 6px 4px;
    font-weight: 700;
    opacity: 0px;
    background-color: var(--white);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.chevron {
    width: 16px;
    height: 16px;
    fill: transparent;
    stroke: var(--white);
    transition: transform 0.3s;
}

.chevron.open {
    transform: rotate(180deg);
}

.wrapperModal {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    gap: 8px;
}

.userBarModal {
    color: var(--userbar-color2);
    padding: 0;
    gap: 8px;
    cursor: pointer;
    transition: color var(--animation);
}

.userBarModal:hover {
    color: var(--dark-blue);
}

@media (min-width: 768px) {
    .wrapperModal {
            flex-direction: row;
        }
    .userBarWrapper {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    .userBarBtn {
        margin-top: 0;
        flex-direction: row;
    }

    .userWelcome {
        font-size: 36px;
        line-height: 38px;
    }

    .chevron {
        width: 20px;
        height: 20px;
    }

    .userBarBtn {
        font-size: 16px;
        font-weight: 700;
        line-height: 24px;
    }

    .userBarOpenPanel {
        right: 0;
        font-weight: 700;
        opacity: 1;
    }
}