
.container {
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 8px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    background: linear-gradient(to top left, #c9e4dee1, #5f7776);
}

.logo {
    left: 0;
    width: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logo a {
    text-decoration: none;
    font-size: 24px;
    font-weight: bold;
    color: #333;
}

.logoPic {
    width: 64px;
    border-radius: 10%;
    border-top-left-radius: 40%;
    border-bottom-right-radius: 40%;
}
